<section *ngIf="rocketLaunch['links'].mission_patch_small">
  <section class="cardImageContainer">
    <img src="{{ rocketLaunch['links'].mission_patch_small }}" />
  </section>
  <section class="cardDataContainer">
    <p class="rocketName">
      {{ rocketLaunch.mission_name }} #{{ rocketLaunch.flight_number }}
    </p>
    <section>
      <p class="rocketLaunchDataKey">Mission Ids :</p>
      <ul *ngFor="let mission_id of rocketLaunch.mission_id">
        <li class="rocketLaunchDataValue">{{ rocketLaunch.mission_id }}</li>
      </ul>
    </section>
    <section class="launchData">
      <p class="rocketLaunchDataKey">Launch Year :</p>
      <p class="rocketLaunchDataValue">{{ rocketLaunch.launch_year }}</p>
    </section>
    <section class="launchData">
      <p class="rocketLaunchDataKey">Successfull Launch :</p>
      <p class="rocketLaunchDataValue">{{ rocketLaunch.launch_success }}</p>
    </section>

    <section class="launchData" *ngIf="rocketLaunch.rocket">
      <p class="rocketLaunchDataKey">Successfull Landing :</p>
      <p>
        {{ rocketLaunch.rocket.first_stage.cores[0].land_success }}
      </p>
    </section>
  </section>
</section>
