.rocketListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

h1 {
  display: grid;
  color: gray;
}

.cardContainer {
  width: 100%;
  margin: 8px;
  background-color: white;
  border-radius: 10px;
}

@media (min-width: 1025px) {
  .rocketListContainer {
    margin-left: 2vh;
  }
  .cardContainer {
    margin: 8px;
    border-radius: 10px;
    width: max-content;
  }
}
