<section class="filterContainer">
  <h2>Filters</h2>
  <section class="launchYearContainer">
    <p>Launch Year</p>
    <hr />
    <section class="filterButtons">
      <app-button
        [filter]="'&launch_year'"
        (getFilteredData)="getFilteredData.emit($event, $event)"
        class="buttonContainer"
        *ngFor="let year of launchYears"
        [value]="year.value"
        [selected]="year.selected"
      ></app-button>
    </section>
  </section>
  <section class="successfullLaunch">
    <p>Successfull Launch</p>
    <hr />
    <section class="filterButtons">
      <app-button
        [filter]="'&launch_success'"
        (getFilteredData)="getFilteredData.emit($event)"
        class="buttonContainer"
        *ngFor="let status of successfullLaunch"
        [value]="status.value"
        [selected]="status.selected"
      ></app-button>
    </section>
  </section>
  <section class="successfullLanding">
    <p>Successfull Landing</p>
    <hr />
    <section class="filterButtons">
      <app-button
        [filter]="'&land_success'"
        (getFilteredData)="getFilteredData.emit($event)"
        class="buttonContainer"
        *ngFor="let status of successfullLanding"
        [value]="status.value"
        [selected]="status.selected"
      ></app-button>
    </section>
  </section>
</section>
